* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: chocolate;
}

.input-box {
    background-color: #fff;
    width: 90%;
    min-width: 420px;
    max-width: 500px;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 400px auto;
    display: flex;
    align-items: center;
}

.input-box input {
    flex: 1;
    outline: 0;
    border: 0;
    font-size: 24px;
    padding: 1rem 0;
}

.input-box img {
    width: 40px;
    cursor: pointer;
}